<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Sitting Plan</h1>
    <form class="" action="/login" method="post">
      <input type="text" name="username" value="" placeholder="username"><br>
      <input type="password" name="password" value="" placeholder="password"><br>
     <input type="submit" name="Submit" value="Login">
    </form>
  </body>
</html>
